page-abonnement {
    #present{
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        display: block;
        margin: 3px auto;
        padding: 8px;
        color: white;
        background-color: rgb(3, 190, 59);
        width: 100%;
        border-radius: 10px;
    }

    h2{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    ion-content {
        --background: black;
      }
      .img_box {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
      }
      img {
        width: 60%;
        border-radius: 10px;
      }
      h1 {
        color: white;
        margin-left: 20px;
          font-weight: 800;
      }
      p {
        margin-left: 20px;
        margin-right: 10px;
        color: #c6c6c6;
        font-weight: 300;
      }
}
