 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>BOCOBI offre plusieurs services a la population notamment:</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="icofont-disabled"></i></div>
            <h4><a href="/mesParametre">Parametre</a></h4>
            <p>Une descente sur le terrain peut etre effectue en cas d'urgence signale par l'objet connecte</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="icofont-heart-beat"></i></div>
            <h4><a routerLink="/teleconsultation">La teleconsultation</a></h4>
            <p>Nos patients ont la possibilite de se faire consulter en ligne par leur medecin traitant.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-dna-alt-2"></i></div>
            <h4><a routerLink="/chat">Messagerie</a></h4>
            <p>Nos patients beneficient egalement de cette interface pour contacter leurs medecin 24h/24h.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="icofont-heartbeat"></i></div>
            <h4><a href="">Suivi a distance</a></h4>
            <p>Nos suivons l'etat de sante de nos patients a distance a travers un objet connecte que possede chacun d'eux.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" *ngIf="!isAuth">
          <div class="icon-box">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4><a routerLink="/ordonance">Une prescription</a></h4>
            <p>A la suite d'une teleconsultation, nos medecins peuvent effectuer une prescription de d'examen ou de medicament.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4><a routerLink="/ordonance">Conseil</a></h4>
            <p>notre plateforme met a votre disposition une panoplie de conseil pour ameliorer votre quotidien</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="icofont-autism"></i></div>
            <h4><a routerLink="/rendez-vous">Rendez-vous</a></h4>
            <p>Les patients ont la possibilite de poser des questions a leur medecin par rapport a leur etat de sante.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
