page-forgotpass {
    #presentButton{
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        display: block;
        margin: 3px auto;
        padding: 5px;
        color: white;
        background-color: rgb(3, 190, 59);
        width: 100%;
        border-radius: 10px;
    }
}
