 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3>QUI SOMMES NOUS ?</h3>
          <p>BOCOBI est une plateforme d'acces aux soins de sante ayant objectif
            de développer des solutions accessibles par tous les camerounais à moindre coût. Elle offre les services suivants: </p>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">La teleconsultation:</a></h4>
            <p class="description">Dont le but est de permettre à un professionnel médical de donner une consultation à distance a un patient. </p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">La telesurveillance:</a></h4>
            <p class="description">Permettant aux professionnels de suivre l’évolution des constantes du patient à travers un objet connecte que possède le patient. </p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">La reponse medicale:</a></h4>
            <p class="description">Qui a pour objectif de conseiller un patient ou de déclarer une situation d’urgence par rapport aux données collectes sur l’objet connecte qui est dans notre cas un bracelet comprenant plusieurs capteurs.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->
