<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Pourquoi choisir Bocobi?</h3>
              <p>
                Toute personne se souciant de son etat de sante devrait choisir BOCOBI tout simplement parcequ'il:aide les patients souffrant d'une maladie chronique a mieux gerer leur maladie;<br>
                ameliore l'observance de son traitement,
                facilite la relation professionnelle professionnel de sante-patient...
                
                
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Lire plus <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Personnel medical</h4>
                    <p>BOCOBI dispose d'un personnel medical tres varie en fonction de vos patologies et hautement qualifie</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Confidentialite</h4>
                    <p>Les patients pris en charge beneficient d'une securite de leur optimale de leur donnees </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Materiel madical</h4>
                    <p>BOCOBI possede tout l'equipement necessaire pour prendre en charge un patient en cas d'urgence</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


    <app-home-main-about></app-home-main-about>

    <app-home-main-count></app-home-main-count>

    <!-- <app-home-main-service></app-home-main-service> -->

    <!-- <app-home-main-appointment></app-home-main-appointment> -->

    <app-home-main-departments></app-home-main-departments>

    <app-home-main-doctors></app-home-main-doctors>

    <!-- <app-home-main-frequently></app-home-main-frequently> -->

    <!-- <app-home-main-testimonials></app-home-main-testimonials> -->

    <app-home-main-gallery></app-home-main-gallery>

    <app-home-main-contact></app-home-main-contact>

</main>