<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">BOCOBI</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active" *ngIf="!isAuth"><a href="index.html">Accueil</a></li>
          <li class="active" *ngIf="patient"><a routerLink="/homeUser">Accueil</a></li>
          <li class="active" *ngIf="roles"><a routerLink="/homeAmin">Accueil</a></li>
          <li routerLinkActive="active" *ngIf="!isAuth"><a routerLink="/about">A propos</a></li>
          <li  routerLinkActive="active"><a routerLink="/service">Services</a></li>
          <li  routerLinkActive="active" *ngIf="!patient && !roles"><a routerLink="/doctor">Docteurs</a></li>
          <li  routerLinkActive="active"><a routerLink="/departement">Departements</a></li>
          <li  routerLinkActive="active" *ngIf="roles"><a routerLink="/listDocteur">Docteurs</a></li>
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a >Drop Down 1</a></li>
              <li class="drop-down"><a >Deep Drop Down</a>
                <ul>
                  <li><a >Deep Drop Down 1</a></li>
                  <li><a >Deep Drop Down 2</a></li>
                  <li><a >Deep Drop Down 3</a></li>
                  <li><a >Deep Drop Down 4</a></li>
                  <li><a >Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a >Drop Down 2</a></li>
              <li><a >Drop Down 3</a></li>
              <li><a >Drop Down 4</a></li>
            </ul>
          </li> -->
          <li class="drop-down" *ngIf="isAuth"><a style="cursor: pointer;">Abonnement</a>
            <ul>
              <li routerLinkActive="active" *ngIf="!roles"><a routerLink="/PrendreAbonnement" style="cursor: pointer;">Prendre Abonnement</a></li>
              <li routerLinkActive="active" ><a routerLink="/listAbonnement" style="cursor: pointer;">Liste des Abonnements</a></li>
            </ul>
          </li>
          <li  routerLinkActive="active" *ngIf="!isAuth"><a routerLink="/contact">Contact</a></li>

          <li class="drop-down" *ngIf="isAuth"><a href="">Parametre</a>
            <ul>
              <li><a (click)="changePwd()" style="cursor: pointer;">Changer password</a></li>
              <li  *ngIf="!roles"><a style="cursor: pointer;">Mes payements</a></li>
              <li class="drop-down" *ngIf="roles"><a >Compte</a>
                <ul>
                  <li><a style="cursor: pointer;">Modifier</a></li>
                  <li><a style="cursor: pointer;">Supprimer</a></li>
                  <li><a style="cursor: pointer;">Suspendre</a></li>
                </ul>
              </li>
              <li *ngIf="roles"><a routerLink="/listCompte" >Liste</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

      <a (click)="connexion()" *ngIf="!isAuth" style="cursor: pointer;" class="appointment-btn scrollto">Connexion</a>
      <a (click)="logout()" *ngIf="isAuth" style="cursor: pointer;" class="appointment-btn scrollto">Deconnexion</a>

    </div>
  </header>
