/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
/* .contact{
    justify-content: center;
} */
button {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.alert{
    text-align: center;
}
.contact{
    width: 70%;
    margin-top: 5%;
    background-color: #f1f7fd;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    margin-left: 15%;
}
h1{
    color: #1977cc;
    text-align: center;
}