<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            E-Health
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <!-- <div *ngIf="login && pass" id="panel-infos"> -->
    <!-- <div padding>
        <button id="presentButton" block (tap)="alertAction()">Connexion</button>
    </div> -->
        <ion-card id="image">
            <img src="assets/imgs/bocobi 2 ret.png" alt="">
        </ion-card>

        <p style="text-align: center;">Bienvenue dans le nouveau monde</p>
        <p style="text-align: center;">Ravi de vous Voir Parmi nous</p>
        <button id="presentButton" (tap)="showDetail()">Continuer</button>
        <!-- <ion-list>
            <ion-item *ngFor="let entry of form">
              <ion-label>{{entry.val}}</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
            </ion-item>
          </ion-list> -->
</ion-content>