p{
    text-align: justify;
}

#panel-error{
    text-align: center;
}
#presentButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: block;
    margin: -6px auto;
    padding: 10px;
    color: white;
    background-color: #03be3b;
    width: 80%;
    border-radius: 21px;
}