 <!-- ======= Doctors Section ======= -->
 <section id="doctors" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Medecins</h2>
        <p>Nous diposons d'une diversite de medecins de tous  les domaines qualifies et prets a repondre a tous vos besoins.</p>
      </div>

      <div class="row">

        <!-- <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Cardiologue</span>
              <p>Specialiste en malformations congenitales, pathologies des valves, insuffisance cardiaque, cardiomyopathies...</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Larry Fichier</h4>
              <span>Cardiologue</span>
              <p>Specialiste en insuffisance cardiaque, cardiomyopathies...</p>
              <div class="social">
                <div class="social">
                  <a><i class="ri-twitter-fill"></i></a>
                  <a><i class="ri-facebook-fill"></i></a>
                  <a><i class="ri-instagram-fill"></i></a>
                  <a><i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Manuella Lucresse</h4>
              <span>Pneumologue</span>
              <p>Specialiste en maladie des poumons et des voies respiratoires</p>
              <div class="social">
                <a><i class="ri-twitter-fill"></i></a>
                <a><i class="ri-facebook-fill"></i></a>
                <a><i class="ri-instagram-fill"></i></a>
                <a><i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Neurologue</span>
              <p>Specialiste de toutes les pathologis touchant le systeme nerveux, en particulier les maladies atteignant le systeme nerveux central que ce soit aux niveau du cerveau ou de la moelle epiniere.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Manuella Castaldi</h4>
              <span>Neurologue</span>
              <p>Specialiste de toutes les pathologis touchant le systeme nerveux.</p>
              <div class="social">
                <a><i class="ri-twitter-fill"></i></a>
                <a><i class="ri-facebook-fill"></i></a>
                <a><i class="ri-instagram-fill"></i></a>
                <a><i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Simo Carlos</h4>
              <span>Psychologue</span>
              <p>Expert en comportement, des emotions et de la sante mentale.</p>
              <div class="social">
                <a><i class="ri-twitter-fill"></i></a>
                <a><i class="ri-facebook-fill"></i></a>
                <a><i class="ri-instagram-fill"></i></a>
                <a><i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Doctors Section -->
