<div class="form">
  <form>
    <h1>Ordonnance</h1>
    <div>
          Numero: <input type="text"class="form-control" name="numero" id="numero"><br>

          <p>PREUVE DE PRESCRIPTION ELECTRONIQUE</p>

          <p>Veuillez presenter ce document a votre pharmacien pour qu'il voud delivre les medicaments prescrits</p>

          Prescripteur: <input type="text"class="form-control" name="prescripteur" id="prescripteur">

          Beneficiaire: <input type="text"class="form-control" name="beneficiaire" id="beneficiaire">

          <p>Contenu de la prescription electronique</p>

          <input type="text" class="form-control"name="medicament1" id="medicament1" placeholder="Entrer le 1er medicament"><br>

          <input type="text"class="form-control" name="medicament2" id="medicament2" placeholder="Entrer le 2e medicament"><br>

           <input type="text"class="form-control" name="medicament3" id="medicament3" placeholder="Entrer le 3e medicament"><br>

            <input type="text"class="form-control" name="medicament4" id="medicament4" placeholder="Entrer le 4e medicament"><br>

          <input type="text"class="form-control" name="medicament5" id="medicament2" placeholder="Entrer le 5e medicament">

          <p>Attention: Aucun ajout manuscrit a ce document ne sera pris en compte</p>

          Date: <input type="Date"class="form-control" name="DatePres" id="DatePres" formControlName="DatePres"><br>

          Date d'expiration<input class="form-control"type="Date" name="DateFin" id="DateFin" formControlName="DateFin"><br>

    </div>
    <div class="text-center"><button type="submit">Envoyer</button></div>
  </form>
</div>
