/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

form{
  width: 40%;
  margin-top: 4%;
  background-color: #f1f7fd;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
  height: 80%;
}
form h1{
  color: #1977cc;
  text-align: center;
}

form p{
  font-weight: bold;
  text-align: center;
}

form input{
  width: 80%;
  justify-content: center;
  text-align: center;
}
form button {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 2%;
}
